@{
    //Proyecto.Models.ReviewsModel reviews = ViewData["Reviews"] as Proyecto.Models.ReviewsModel;
    Proyecto.Models.ArticleModel article = ViewData["Article"] as Proyecto.Models.ArticleModel;
}
@model Proyecto.Models.ReviewsModel

@using (Html.BeginForm())
{
    <!DOCTYPE html>

    <html>
    <body>
        <div>
            <h2> Formulario de Revisión</h2>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.generalOpinion, htmlAttributes: new { @class = "  control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.generalOpinion, new SelectList(Model.optionList, "Value", "Text"), "--Please Select a grade--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.generalOpinion, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.communityContribution, htmlAttributes: new { @class = " myTag control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.communityContribution, new SelectList(Model.optionList, "Value", "Text"), "--Please Select a grade--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.communityContribution, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.articleStructure, htmlAttributes: new { @class = "  control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.articleStructure, new SelectList(Model.optionList, "Value", "Text"), "--Please Select a grade--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.articleStructure, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.totalGrade, htmlAttributes: new { @class = "   control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.totalGrade, new SelectList(Model.optionList, "Value", "Text"), "--Please Select a grade--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.totalGrade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.comments, htmlAttributes: new { @class = "  control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.comments, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary">Send</button>
            </div>
        </div>



    </body>
</html>
}
