@model IEnumerable<Proyecto.Models.ArticleModel>

<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">
            <div class="row">
                <div class="fb-heading">
                    All Articles
                </div>
                <br>
                <div>
                    <a id="SearchTopic" href="http://localhost:54007/Article/SearchTopic"> Search Topic </a>
                </div>
                <hr class="style-three">
                @foreach (var item in Model)
                {
                    <div class="card card-default">
                        <div class="article-heading-abb">
                            <a href="single-article.html"><i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(modelItem => item.name)</a>
                        </div>
                        <div class="article-info">
                            <div class="art-date"><a href="#"><i class="fa fa-calendar-o"></i></a>@Html.DisplayFor(modelItem => item.publishDate)</div>
                            <div class="art-category"><a href="#"><i class="fa fa-folder"></i>@Html.DisplayFor(modelItem => item.topicName)</a></div>
                            <div class="art-comments"><a href="#"><i class="fas fa-thumbs-up"></i>@Html.DisplayFor(modelItem => item.likeBalance)</a></div>
                        </div>

                        <div class="article-content">
                            <p class="block-with-text">
                                @Html.DisplayFor(modelItem => item.Abstract)
                            </p>
                        </div>

                        <div class="article-read-more">
                            @Html.ActionLink("Read more...", "PreviewArticle", "Article", new { articleId = item.articleId }, null)
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>






























