@model IEnumerable<Proyecto.Models.ArticleModel>

<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">
            <div class="row">
                <div class="fb-heading">
                    All Articles
                </div>
                <br>
                <div>
                    <a class="SearchTopic" href="http://localhost:54007/Article/SearchTopic"> Search Topic </a>
                </div>
                <hr class="style-three">
                @foreach (var item in Model)
                {
                    <div class="card card-default">
                        <div class="article-heading-abb">
                            <i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(modelItem => item.name)
                        </div>
                        <div class="article-info">
                            <div class="art-date"><i class="fa fa-calendar-o"></i>@Html.DisplayFor(modelItem => item.publishDate)</div>
                            <div class="art-category"><i class="fa fa-folder"></i>@Html.DisplayFor(modelItem => item.topicName)</div>
                            <div class="art-comments"><i class="fa fa-thumbs-o-up"></i>@Html.DisplayFor(modelItem => item.likesCount)</div>
                            <div class="art-comments"><i class="fa fa-thumbs-o-down"></i>@Html.DisplayFor(modelItem => item.dislikesCount)</div>
                            <div class="art-comments">Viewed @Html.DisplayFor(modelItem => item.accessCount) times</div>
                        </div>

                        <div class="article-content">
                            <p class="block-with-text">
                                @Html.DisplayFor(modelItem => item.Abstract)
                            </p>
                        </div>

                        @Html.ActionLink("Read more", "PreviewArticle", "Article", new { articleId = item.articleId }, new { @class = "btn btn-outline-dark btn-sm" })
                    </div>
                }

            </div>
        </div>
    </div>
</div>






























