@model IEnumerable<Proyecto.Models.ArticleModel>
@Scripts.Render("~/Scripts/search")

<input class="form-control mb-4" id="searchField" onkeyup="searchArticle()" type="text" placeholder="Search an article...">
<table class="table" id="userArticles">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abstract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abstract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishDate)
        </td>
        @if (item.type == "short")
            {
        <td>
            @Html.ActionLink("Edit", "Edit", new { articleId = item.articleId })
        </td>
            }
            else
            {
        <td>
            @Html.ActionLink("Edit", "EditLong", new { articleId = item.articleId })
        </td>
            }
    </tr>
    }
</table>





