@model Proyecto.Models.ArticleModel

<div class="container featured-area-default padding-30">
    <div class="row">
        <div class="col-md-8 padding-20">
            <div class="row">
                <!-- BREADCRUMBS -->
                <div class="breadcrumb-container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-home"></i></li>
                        <li class="breadcrumb-item">Articles</li>
                        <li class="breadcrumb-item">@Html.DisplayFor(model => model.topicName)</li>
                        <li class="breadcrumb-item active">@Html.DisplayFor(model => model.name)</li>
                    </ol>
                </div>
                <div class="card card-default">
                    <div class="article-heading margin-bottom-5">
                        <a href="#"><i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(model => model.name)</a>
                    </div>
                    <div class="article-info">
                        <div class="art-date"><a href="#"><i class="fa fa-calendar-o"></i>@Html.DisplayFor(model => model.publishDate)</a></div>
                        <div class="art-category"><a href="#"><i class="fa fa-folder"></i>@Html.DisplayFor(model => model.topicName)</a></div>
                        <div class="art-comments"><i class="fa fa-plus-square-o"></i>@Html.DisplayFor(model => model.likesCount)</div>
                        <div class="art-comments"><i class="fa fa-square-o"></i>@Html.DisplayFor(model => model.neutralCount)</div>
                        <div class="art-comments"><i class="fa fa-minus-square-o"></i>@Html.DisplayFor(model => model.dislikesCount)</div>

                        <div class="art-comments">Viewed @Html.DisplayFor(model => model.accessCount) times</div>

                    </div>
                    <div class="article-content">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.content))
                    </div>

                    @if (Model.checkedStatus == "published") {
                        <hr class="style-three">
                        <div class="article-feedback">
                            <h2><small>Was This Article Helpful?</small></h2>

                            @Html.ActionLink("Like", "isALike", "Article", Model, new { @class = "btn btn-success btn-o btn-wide" })<i class="myThumb1 fa fa-plus-square-o"></i>
                            @Html.ActionLink("Neutro", "isANeutro", "Article", Model, new { @class = "btn myBtn btn-o btn-wide" })<i class="myThumb2 fa fa-square-o"></i>
                            @Html.ActionLink("Dislike", "isADislike", "Article", Model, new { @class = "btn btn-danger btn-o btn-wide" })<i class="myThumb2 fa fa-minus-square-o"></i>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






