<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
@{
    IEnumerable<Proyecto.Models.ArticleModel> articles = ViewData["Articles"] as IEnumerable<Proyecto.Models.ArticleModel>;
    Proyecto.Models.ProfileModel profile = ViewData["Profile"] as Proyecto.Models.ProfileModel;
}

<wbr>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card bg-light mb-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="float-left mr-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="thumb-lg rounded-circle"></span>
                            <div>
                                <h4 class="mt-1 mb-1 font-18">@profile.name @profile.lastName</h4>
                                <p>@profile.job</p>
                                <p>@profile.addressCity, @profile.addressCountry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card-box">
                    <h4 class="header-title mt-0">Personal Information</h4>
                    <div class="panel-body">
                        <hr>
                        <div class="text-left">
                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">@profile.name @profile.lastName</span></p>
                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">@profile.mobile</span></p>
                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">@profile.email</span></p>
                            <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">@profile.addressCountry</span></p>
                            <p class="text-muted font-13">
                                <strong>Languages :</strong> <span class="m-l-5"><span class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span>@profile.languages</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3">
                            <i class="icon-layers float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase text-light mt-0">Member rank</h6>
                            <h2 class="" data-plugin="counterup">@profile.memberRank</h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3">
                            <i class="icon-paypal float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase text-light mt-0">Number of articles</h6>
                            <h2 class=""><span data-plugin="counterup">@profile.articleCount</span></h2>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-white bg-dark mb-3">
                            <i class="icon-paypal float-right text-light text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Points</h6>
                            <h2 class=""><span data-plugin="counterup">@profile.points</span>
                        </div>
                    </div>

                    <div class="fb-heading BotonGris1">
                        Articles
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle BotonGris" type="button" data-toggle="dropdown">
                            New Article
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="http://localhost:54007/Article/Create">Create</a></li>
                            <li><a href="http://localhost:54007/Article/Upload">Upload</a></li>
                        </ul>
                    </div>
                    <div class="article-content">
                        @foreach (Proyecto.Models.ArticleModel item in articles)
                        {
                        <div class="card card-default">


                            @if (item.type == "short")
                            {
                                if (item.checkedStatus == "published" || item.checkedStatus == "on edition" || item.checkedStatus=="resend")
                                {
                                    <div class="article-heading-abb">
                                        <a href="http://localhost:54007/Article/Edit?articleId=@(item.articleId)"> <i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(modelItem => item.name) </a>
                                    </div>
                                }
                                else
                                {
                                    <div class="article-heading-abb">
                                        @Html.DisplayFor(modelItem => item.name)
                                    </div>
                                }

                            }

                            else
                            {

                                if (item.checkedStatus == "published" || item.checkedStatus == "on edition" || item.checkedStatus == "resend")
                                {
                                <div class="article-heading-abb">
                                    <a href="http://localhost:54007/Article/EditLong?articleId=@(item.articleId)"> <i class="fa fa-pencil-square-o"></i>@Html.DisplayFor(modelItem => item.name) </a>
                                </div>
                                }
                                else
                                {
                                    <div class="article-heading-abb">
                                        @Html.DisplayFor(modelItem => item.name)
                                    </div>
                                }
                            }

                            <div class="article-info">
                                <div class="art-date"><i class="fa fa-calendar-o"></i>@Html.DisplayFor(modelItem => item.publishDate)</div>
                                <div class="art-category"><i class="fa fa-folder"></i>@Html.DisplayFor(modelItem => item.topicName)</div>
                                <div class="art-comments"><i class="fa fa-plus-square-o"></i>@Html.DisplayFor(modelItem => item.likesCount)</div>
                                <div class="art-comments"><i class="fa fa-square-o "></i>@Html.DisplayFor(modelItem => item.neutralCount)</div>
                                <div class="art-comments"><i class="fa fa-minus-square-o"></i>@Html.DisplayFor(modelItem => item.dislikesCount)</div>
                                <div class="art-comments">Viewed @Html.DisplayFor(modelItem => item.accessCount) times</div>
                            </div>

                            <div class="article-content">
                                <p class="block-with-text">
                                    @Html.DisplayFor(modelItem => item.Abstract)
                                </p>
                            </div>

                            <div class="article-info">
                                <div class="artCommentsCap"><i class="fa fa-book"></i>Article Status: @Html.DisplayFor(modelItem => item.checkedStatus)</div>
                            </div>

                            @Html.ActionLink("Read more", "PreviewArticle", "Article", item, new { @class = "btn btn-outline-dark btn-sm" })
                            @if (item.checkedStatus == "on edition" || item.checkedStatus == "resend")
                            {
                                @Html.ActionLink("Start Revision", "EnrollOnReviewProcess", "Review", new { articleId = item.articleId, checkedStatus = item.checkedStatus}, new { @class = "btn btn-outline-dark btn-sm" })
                            }
                        </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>